@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}

.bg-container {
    background-image: url("https://media.istockphoto.com/id/1384541753/photo/yellow-and-blue-pencils-separate-the-blue-and-yellow-background.jpg?s=612x612&w=0&k=20&c=30ZuD19NQERMdo0o3kbdKTtWlvZALYbbBsdXcwYFSqw=");
    height: 100vh;
    background-size: cover;


}

.opacity-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
    justify-content: center;

}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-left: 25px;
    padding-right: 25px; */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: transparent;
}

.nav-top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 15px;
}


.log-text {
    font-family: Roboto;
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
}

@media (max-width : 767px) {
    .log-text {
        font-size: 20px;
    }
}

.ul-list {
    display: flex;
    align-items: center;
}

@media (max-width : 991px) {
    .ul-list {
        display: none;
    }
}

.list-icon-sm {
    font-size: 30px;
    color: #ffffff;
    display: block;
    align-self: center;
    cursor: pointer;
}

.ul-list-sm {
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-left: 15px;
    display: none;
}

@media (min-width : 991px) {
    .ul-list-sm {
        display: none;
    }

    .list-icon-sm {
        display: none;
    }
}

.list-items {
    font-family: Roboto;
    font-size: 18px;
    color: #ffffff;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    list-style: none;
}

.heading {
    font-family: Roboto;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 100px;
}

.paragraph {
    font-family: Roboto;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 35px;
}

.btn {
    font-family: Roboto;
    font-size: 15px;
    color: #000000;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    border-width: 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width : 991px) {
    .heading {
        font-size: 15px;
        margin-top: 100px;
    }

    .paragraph {
        font-size: 12px;
    }

}

.bg-color {
    background-color: blue;
    color: black;
}

.show {
    display: block;
}